

/* .doner {
    margin-top: 30px;
  } */
  
  .table {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .table th,
  .table td {
    text-align: center;
    vertical-align: middle;
  }
  
  .table th {
    background-color: #343a40 !important; 
    color: white !important;
    font-weight: bold;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2; /* Light gray for odd rows */
  }
  
  .table-bordered th, .table-bordered td {
    border: 1px solid #ddd; /* Add subtle borders to table cells */
  }
  
  /* .table-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
  } */
  
  h2 {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 28px;
    font-weight: 600;
  }
  