
.sidebar{
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2%;
  background-color: aqua;
  color:black;
}
.sidebar-menus{
  display: flex;
  flex-direction: column;
  

}

.sidebar-menus a {
  padding: 5% 8%;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  text-decoration: none;
  color:black;
  background-color: aqua;
}
.doner{
  width: 80%;
    height: max-content;
    min-height: 100vh;
    padding: 2%;
    margin-left: 220px;
    margin-top: -20px;
    background-image:url('logo.jpeg') ;
    align-items: center;
  
}
.doner label{
  color: white;
}
.doner input {
  width: 20%;
}
.doner select {
  width: 20%;
}
.doner button {
  width: 20%;
}
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table thead {
  background-color: #f8f9fa;
}

.table th, .table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #dee2e6;  
}

.table th {
  background-color: #007bff;
  color: white;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #e9ecef;
}
.table-data{
  height: 650px;
  width: 1000px;
  overflow-y: auto; 
  margin-top: 5px;
  margin-left: 10px;
}
.table-data thead th{ 
  position: sticky;
  top: 0px;
}