
/* .container {
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
} */


.text-center h3 {
    font-family: 'Arial', sans-serif;
    color: #ba1931;
    font-weight: bold;
    margin-bottom: 20px;
}


.form-label {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
}

.form-control,
.form-select {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 12px;
    font-size: 1rem;
}

.form-control:focus,
.form-select:focus {
    border-color: #80bdff;
    outline: none;
}

.mb-3 {
    margin-bottom: 20px;
}

button.btn-primary {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #007bff;
    border: none;
    color: #fff;
}

button.btn-primary:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.d-grid {
    margin-top: 20px;
}

.form-select {
    height: 45px;
}

/* Small screen responsiveness */
@media (max-width: 576px) {
    .container {
        padding: 20px;
    }

    button.btn-primary {
        width: 100%;
    }
}
