
/* .container {
    margin-top: 40px;  
  } */

  h2 {
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #4A4A4A;  
    text-align: center;
    margin-bottom: 30px;  
  }
  
 
  .table {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;  
    overflow: hidden;  
  }
  
 
  .table th {
    background-color: #343a40 !important;  
    color: #ffffff;  
    font-weight: bold;
    text-transform: uppercase; 
  }
  
 
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;  
  }
  
 
  .table-bordered th, .table-bordered td {
    border: 1px solid #ddd; 
  }
  
 
  .table th, .table td {
    padding: 12px 15px;  
    text-align: center;  
    vertical-align: middle;  
  }
  
  
  .table-responsive {
    margin-top: 20px;
    background-color: #f8f9fa;  
    border-radius: 8px;  
    padding: 15px; 
  }
  
 
  .table tbody tr:hover {
    background-color: #f1f1f1; 
    cursor: pointer; 
  }
  